
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Eliminar</th>
            
        </tr>
    </thead>
    <tbody>
        @for (item of items; track $index) {
            <tr>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price * item.quantity}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="onDeleteCart(item.product.id)">Eliminar</button></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-end fw-bold">Total</td>
            <td colspan="2" class="text-start fw-bold">{{total}}</td>
        </tr>
    </tfoot>
</table>
